In [102]:
import pandas as pd
import os
import io 
import datetime
import numpy as np
import geocoder
import statsmodels as sm
import statsmodels.formula.api as smf

GOOGLE_API_KEY=os.environ['GOOGLE_API_KEY']

In [103]:
# read in from repo
covid = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')

# reshape into long format
# first date is 1/22/2020, index 11
first_date_index = 11
date_cols = list(covid.columns[first_date_index:])


# reduce to min vars
covid = covid[['FIPS', 'Admin2', 'Province_State'] + date_cols]

covid = covid.set_index(['FIPS', 'Admin2', 'Province_State'])
covid = pd.DataFrame(covid.stack())
covid.columns = ['cases']
covid = covid.reset_index()
covid.columns = ['FIPS','county','state','date','cases']
covid['date'] = pd.to_datetime(covid['date'])

# get state abbreviations from google api - could have hardcoded
state_abbr = {}
for st in np.unique(covid['state']):
    results = geocoder.google(st, key = GOOGLE_API_KEY)
    state_abbr[results.state] = st
    
state_abbr

{'AL': 'Alabama',
 'AK': 'Alaska',
 None: 'Virgin Islands',
 'AZ': 'Arizona',
 'AR': 'Arkansas',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DE': 'Delaware',
 'NJ': 'New Jersey',
 'DC': 'District of Columbia',
 'FL': 'Florida',
 'GA': 'Georgia',
 'MI': 'Michigan',
 'HI': 'Hawaii',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'IA': 'Iowa',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'ME': 'Maine',
 'MD': 'Maryland',
 'MA': 'Massachusetts',
 'MN': 'Minnesota',
 'MS': 'Mississippi',
 'MO': 'Missouri',
 'MT': 'Montana',
 'NE': 'Nebraska',
 'NV': 'Nevada',
 'NH': 'New Hampshire',
 'NM': 'New Mexico',
 'NY': 'New York',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PA': 'Pennsylvania',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VT': 'Vermont',
 'VA': 'Virginia',
 'WA': 'Washington',
 'WV': 'West Virginia',
 'WI': 'Wisconsin',
 'WY': 'Wyoming'}

In [104]:
# replace state name with abbr
inv_map = {v: k for k, v in state_abbr.items()}
covid['st'] = covid['state']
covid = covid.replace({'st':inv_map})

In [105]:
# pasting in Trump rally dates from wikipedia, slightly cleaned up in google sheet
rally_string = '''
date	year	city	state
June 20	2020	Tulsa	OK
June 23	2020	Phoenix	AZ
August 17	2020	Mankato	MN
August 17	2020	Oshkosh	WI
August 18	2020	Yuma	AZ
August 20	2020	Old Forge	PA
August 28	2020	Londonderry	NH
September 3	2020	Latrobe	PA
September 8	2020	Winston-Salem	NC
September 10	2020	Freeland	MI
September 12	2020	Minden	NV
September 13	2020	Henderson	NV
September 17	2020	Mosinee	WI
September 18	2020	Bemidji	MN
September 19	2020	Fayetteville	NC
September 21	2020	Vandalia	OH
September 21	2020	Swanton	OH
September 22	2020	Pittsburgh	PA
September 24	2020	Jacksonville	FL
September 25	2020	Newport News	VA
September 26	2020	Middletown	PA
September 30	2020	Duluth	MN
October 12	2020	Sanford	FL
October 13	2020	Johnstown	PA
October 14	2020	Des Moines	IA
October 15	2020	Greenville	NC
October 16	2020	Ocala	FL
October 16	2020	Macon	GA
October 17	2020	Muskegon	MI
October 17	2020	Janesville	WI
October 18	2020	Carson City	NV
October 19	2020	Prescott	AZ
October 19	2020	Tucson	AZ
October 20	2020	Erie	PA
October 21	2020	Gastonia	NC
October 23	2020	The Villages	FL
October 23	2020	Pensacola	FL
October 24	2020	Lumberton	NC
October 24	2020	Circleville	OH
October 24	2020	Waukesha	WI
October 25	2020	Manchester	NH
October 26	2020	Allentown	PA
October 26	2020	Lititz	PA
October 26	2020	Martinsburg	PA
October 27	2020	Lansing	MI
October 27	2020	West Salem	WI
October 27	2020	Omaha	NE
October 28	2020	Bullhead City	AZ
October 28	2020	Goodyear	AZ
October 29	2020	Tampa	FL
October 30	2020	Waterford Township	MI
October 30	2020	Green Bay	WI
October 30	2020	Rochester	MN
October 31	2020	Bucks County	PA
October 31	2020	Reading	PA
October 31	2020	Butler	PA
November 1	2020	Sterling Heights	MI
November 1	2020	Dubuque	IA
November 1	2020	Rome	GA
November 1	2020	Opa-locka	FL
November 2	2020	Fayetteville	NC
November 2	2020	Melbourne	FL
November 2	2020	Scranton	PA
November 2	2020	Grand Rapids	MI
'''
rallies = pd.read_table(io.StringIO(rally_string))
rallies['rally_date'] = rallies['date'] + ', ' + rallies['year'].astype(str)
rallies['rally_date'] = pd.to_datetime(rallies['rally_date'])
rallies['city_state'] = rallies.city + ', ' + rallies.state

# geocode cities for county
cities = np.unique(rallies.city + ', ' + rallies.state)
city_county = []
for city in cities:
    results = geocoder.google(city, key = GOOGLE_API_KEY)
    city_county.append((city, results.county))

# hardcoding some independent cities
with_counties = pd.DataFrame(city_county, columns=['city_state','county'])
with_counties.loc[with_counties['city_state'] == 'Carson City, NV','county'] = 'Carson City'
with_counties.loc[with_counties['city_state'] == 'Newport News, VA','county'] = 'Newport News'
with_counties['county'] = with_counties.county.str.replace(' County', '')
rallies = pd.merge(rallies, with_counties, left_on='city_state', right_on='city_state')

In [106]:
# merge rallies and covid data
covid_rallies = pd.merge(covid, rallies, how='left', left_on=['county','st','date'], right_on=['county','state','rally_date'] )

covid_rallies = covid_rallies[['FIPS','county','st','date_x','cases','city_state','rally_date']]
covid_rallies['rally'] = (~covid_rallies.city_state.isnull()).astype(int)
covid_rallies[covid_rallies['county'] == 'Maricopa']

         FIPS    county  st     date_x   cases    city_state rally_date  rally
30456  4013.0  Maricopa  AZ 2020-01-22       0           NaN        NaT      0
30457  4013.0  Maricopa  AZ 2020-01-23       0           NaN        NaT      0
30458  4013.0  Maricopa  AZ 2020-01-24       0           NaN        NaT      0
30459  4013.0  Maricopa  AZ 2020-01-25       0           NaN        NaT      0
30460  4013.0  Maricopa  AZ 2020-01-26       1           NaN        NaT      0
...       ...       ...  ..        ...     ...           ...        ...    ...
30733  4013.0  Maricopa  AZ 2020-10-25  154182           NaN        NaT      0
30734  4013.0  Maricopa  AZ 2020-10-26  154722           NaN        NaT      0
30735  4013.0  Maricopa  AZ 2020-10-27  155458           NaN        NaT      0
30736  4013.0  Maricopa  AZ 2020-10-28  155951  Goodyear, AZ 2020-10-28      1
30737  4013.0  Maricopa  AZ 2020-10-29  156736           NaN        NaT      0

[282 rows x 8 columns]

In [107]:
# create var for rally 3-7 days prior
covid_rallies['rally_shift3']= covid_rallies[['county','st','rally']].groupby(['county','st']).shift(3)
covid_rallies['rally_shift4']= covid_rallies[['county','st','rally']].groupby(['county','st']).shift(4)
covid_rallies['rally_shift5']= covid_rallies[['county','st','rally']].groupby(['county','st']).shift(5)
covid_rallies['rally_shift6']= covid_rallies[['county','st','rally']].groupby(['county','st']).shift(6)
covid_rallies['rally_shift7']= covid_rallies[['county','st','rally']].groupby(['county','st']).shift(7)

covid_rallies['recent_rally'] = ((covid_rallies['rally_shift3'] == 1) | (covid_rallies['rally_shift4'] == 1) | \
    (covid_rallies['rally_shift5'] == 1) | (covid_rallies['rally_shift6'] == 1) | (covid_rallies['rally_shift7'] == 1)).astype(int) 

# create var for rally upcoming
covid_rallies['rally_shift1']= covid_rallies[['county','st','rally']].groupby(['county','st']).shift(-1)
covid_rallies['rally_shift2']= covid_rallies[['county','st','rally']].groupby(['county','st']).shift(-2)
covid_rallies['rally_shift3']= covid_rallies[['county','st','rally']].groupby(['county','st']).shift(-3)
covid_rallies['rally_shift4']= covid_rallies[['county','st','rally']].groupby(['county','st']).shift(-4)
covid_rallies['rally_shift5']= covid_rallies[['county','st','rally']].groupby(['county','st']).shift(-5)
covid_rallies['rally_shift6']= covid_rallies[['county','st','rally']].groupby(['county','st']).shift(-6)
covid_rallies['rally_shift7']= covid_rallies[['county','st','rally']].groupby(['county','st']).shift(-7)

covid_rallies['upcoming_rally'] = ((covid_rallies['rally_shift1'] == 1) | (covid_rallies['rally_shift1'] == 1) |(covid_rallies['rally_shift3'] == 1) | (covid_rallies['rally_shift4'] == 1) | \
    (covid_rallies['rally_shift5'] == 1) | (covid_rallies['rally_shift6'] == 1) | (covid_rallies['rally_shift7'] == 1)).astype(int) 

# create new cases variable and lags
covid_rallies['cases_shift1']=covid_rallies[['county','st','cases']].groupby(['county','st']).shift(1)
covid_rallies['new_cases'] = covid_rallies.cases - covid_rallies.cases_shift1
covid_rallies['new_cases_lag'] = covid_rallies[['county','st','new_cases']].groupby(['county','st']).shift(1)
covid_rallies['new_cases_lag2'] = covid_rallies[['county','st','new_cases']].groupby(['county','st']).shift(2)

# time in days
covid_rallies['t'] = ((covid_rallies['date_x']-pd.to_datetime('2020-01-21')) / np.timedelta64(1, 'D')).astype(int)
covid_rallies['t2'] = covid_rallies.t**2
covid_rallies['t3'] = covid_rallies.t**3
covid_rallies[covid_rallies['county'] == 'Maricopa']

,FIPS,county,st,date_x,cases,city_state,rally_date,rally,rally_shift3,rally_shift4,...,rally_shift1,rally_shift2,upcoming_rally,cases_shift1,new_cases,new_cases_lag,new_cases_lag2,t,t2,t3
30456,4013.0,Maricopa,AZ,2020-01-22,0,NaN,NaT,0,0.0,0.0,...,0.0,0.0,0,NaN,NaN,NaN,NaN,1,1,1
30457,4013.0,Maricopa,AZ,2020-01-23,0,NaN,NaT,0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,NaN,NaN,2,4,8
30458,4013.0,Maricopa,AZ,2020-01-24,0,NaN,NaT,0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,NaN,3,9,27
30459,4013.0,Maricopa,AZ,2020-01-25,0,NaN,NaT,0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,4,16,64
30460,4013.0,Maricopa,AZ,2020-01-26,1,NaN,NaT,0,0.0,0.0,...,0.0,0.0,0,0.0,1.0,0.0,0.0,5,25,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30733,4013.0,Maricopa,AZ,2020-10-25,154182,NaN,NaT,0,1.0,0.0,...,0.0,0.0,1,153177.0,1005.0,482.0,594.0,278,77284,21484952
30734,4013.0,Maricopa,AZ,2020-10-26,154722,NaN,NaT,0,0.0,NaN,...,0.0,1.0,0,154182.0,540.0,1005.0,482.0,279,77841,21717639
30735,4013.0,Maricopa,AZ,2020-10-27,155458,NaN,NaT,0,NaN,NaN,...,1.0,0.0,1,154722.0,736.0,540.0,1005.0,280,78400,21952000
30736,4013.0,Maricopa,AZ,2020-10-28,155951,"Goodyear, AZ",2020-10-28,1,NaN,NaN,...,0.0,NaN,0,155458.0,493.0,736.0,540.0,281,78961,22188041
30737,4013.0,Maricopa,AZ,2020-10-29,156736,NaN,NaT,0,NaN,NaN,...,NaN,NaN,0,155951.0,785.0,493.0,736.0,282,79524,22425768

In [108]:
covid_clean = covid_rallies[~covid_rallies['new_cases'].isna()]


results = smf.ols('new_cases ~ t + t2 + t3 + new_cases_lag + cases + cases^2 + recent_rally + rally + upcoming_rally + st ', data=covid_clean).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              new_cases   R-squared:                       0.527
Model:                            OLS   Adj. R-squared:                  0.527
Method:                 Least Squares   F-statistic:                 1.731e+04
Date:                Sat, 31 Oct 2020   Prob (F-statistic):               0.00
Time:                        00:50:30   Log-Likelihood:            -4.8458e+06
No. Observations:              933520   AIC:                         9.692e+06
Df Residuals:                  933459   BIC:                         9.692e+06
Df Model:                          60
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            -2.1526      0.508     -4.234      0.000      -3.149      -1.156
st[T.AL]              1.4206      0.562      2.528      0.011       0.319       2.522
st[T.AR]              0.5904      0.553      1.068      0.285      -0.493       1.674
st[T.AZ]              6.7569      0.786      8.599      0.000       5.217       8.297
st[T.CA]              8.9118      0.577     15.454      0.000       7.782      10.042
st[T.CO]              0.4864      0.566      0.860      0.390      -0.622       1.595
st[T.CT]              0.9178      0.945      0.971      0.332      -0.935       2.770
st[T.DC]              0.7983      1.571      0.508      0.611      -2.281       3.877
st[T.DE]              1.5420      1.252      1.232      0.218      -0.912       3.996
st[T.FL]              6.6419      0.563     11.800      0.000       5.539       7.745
st[T.GA]              0.7576      0.510      1.487      0.137      -0.241       1.757
st[T.HI]              1.4018      1.087      1.290      0.197      -0.729       3.532
st[T.IA]              0.4101      0.533      0.769      0.442      -0.635       1.456
st[T.ID]              0.7213      0.604      1.195      0.232      -0.462       1.904
st[T.IL]              1.9342      0.532      3.637      0.000       0.892       2.976
st[T.IN]              0.8535      0.538      1.586      0.113      -0.201       1.908
st[T.KS]              0.0604      0.530      0.114      0.909      -0.978       1.099
st[T.KY]              0.2053      0.523      0.393      0.694      -0.819       1.229
st[T.LA]              0.6358      0.566      1.124      0.261      -0.473       1.745
st[T.MA]              0.6887      0.785      0.877      0.380      -0.850       2.227
st[T.MD]              1.7151      0.691      2.482      0.013       0.360       3.070
st[T.ME]             -0.4362      0.770     -0.567      0.571      -1.945       1.073
st[T.MI]              0.7144      0.543      1.314      0.189      -0.351       1.780
st[T.MN]              0.7182      0.542      1.325      0.185      -0.344       1.780
st[T.MO]              0.7758      0.524      1.480      0.139      -0.252       1.804
st[T.MS]              0.3600      0.546      0.659      0.510      -0.710       1.430
st[T.MT]              0.1164      0.578      0.201      0.840      -1.016       1.249
st[T.NC]              1.2993      0.533      2.438      0.015       0.255       2.344
st[T.ND]              0.3032      0.583      0.520      0.603      -0.840       1.447
st[T.NE]              0.0354      0.537      0.066      0.947      -1.018       1.089
st[T.NH]             -0.3254      0.883     -0.368      0.713      -2.057       1.406
st[T.NJ]             -0.3922      0.717     -0.547      0.584      -1.797       1.012
st[T.NM]              0.4392      0.641      0.685      0.493      -0.817       1.695
st[T.NV]              3.0892      0.757      4.080      0.000       1.605       4.573
st[T.NY]             -1.5108      0.570     -2.651      0.008      -2.628      -0.394
st[T.OH]              1.1390      0.541      2.105      0.035       0.078       2.200
st[T.OK]              0.7984      0.551      1.450      0.147      -0.281       1.878
st[T.OR]              0.3294      0.629      0.524      0.600      -0.903       1.562
st[T.PA]              0.7722      0.562      1.374      0.169      -0.329       1.874
st[T.Puerto Rico]     0.1982      0.550      0.361      0.718      -0.879       1.275
st[T.RI]              1.3713      1.087      1.261      0.207      -0.760       3.502
st[T.SC]              1.9769      0.599      3.302      0.001       0.803       3.150
st[T.SD]              0.1178      0.563      0.209      0.834      -0.986       1.221
st[T.TN]              1.5325      0.536      2.859      0.004       0.482       2.583
st[T.TX]              2.0532      0.494      4.155      0.000       1.085       3.022
st[T.UT]              2.2461      0.633      3.550      0.000       1.006       3.486
st[T.VA]              0.1781      0.517      0.344      0.731      -0.836       1.192
st[T.VT]             -0.5749      0.800     -0.719      0.472      -2.142       0.992
st[T.WA]              0.8827      0.618      1.427      0.153      -0.329       2.095
st[T.WI]              2.4238      0.556      4.360      0.000       1.334       3.513
st[T.WV]             -0.1989      0.580     -0.343      0.732      -1.335       0.937
st[T.WY]             -0.0145      0.698     -0.021      0.983      -1.383       1.354
t                     0.0691      0.006     11.815      0.000       0.058       0.081
t2                   -0.0003   4.71e-05     -7.410      0.000      -0.000      -0.000
t3                 4.136e-07   1.09e-07      3.811      0.000    2.01e-07    6.26e-07
new_cases_lag         0.5480      0.001    628.155      0.000       0.546       0.550
cases                 0.1519      0.025      6.000      0.000       0.102       0.202
cases ^ 2            -0.1489      0.025     -5.882      0.000      -0.199      -0.099
recent_rally         24.5560      3.141      7.818      0.000      18.400      30.712
rally                14.6381      6.212      2.356      0.018       2.463      26.814
upcoming_rally       12.1921      2.540      4.799      0.000       7.213      17.171
==============================================================================
Omnibus:                  1917107.541   Durbin-Watson:                   2.391
Prob(Omnibus):                  0.000   Jarque-Bera (JB):   21182290418922.859
Skew:                          14.878   Prob(JB):                         0.00
Kurtosis:                   23339.188   Cond. No.                     1.18e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.18e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

In [112]:

covid_rallies.to_csv('/data/home/futch/covid_rallies/data/covid_rallies.csv', index = False)

'/data/home/futch/scratch'